html {
    height: 100%;
    font-size: 100%;
 }
 
 body {       
    min-height: 100%;
 }

.button {
    font-family: 'Lalezar', cursive;
    background-color: aquamarine;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    line-height: 60px;
    width: 200px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: white;
    border-radius: 5px;
}